<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intpict.demo.dao.IEmpDao">
    <resultMap id="BaseResultMap" type="com.intpict.demo.entity.Emp">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="department_no" property="departmentNo" jdbcType="CHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="hire_ date" property="hireDate" jdbcType="TIMESTAMP"/>
        <result column="sale" property="sale" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 当发生增删改操作时，会清空二级缓存 -->
    <cache/>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" useCache="true">
        SELECT *
        FROM ls_emp
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        SELECT id, name, gender
        FROM ${tableName} WHERE name = #{name}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM ls_emp
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.intpict.demo.entity.Emp">
        INSERT INTO ls_emp (id, department_no, name,
                            gender, age, hire_date,
                            sale)
        VALUES (#{id,jdbcType=INTEGER}, #{departmentNo,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
                #{gender,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{hireDate,jdbcType=TIMESTAMP},
                #{sale,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.intpict.demo.entity.Emp">
        insert into ls_emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="departmentNo != null">
                department_no,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="hireDate != null">
                hire_date,
            </if>
            <if test="sale != null">
                sale,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="departmentNo != null">
                #{departmentNo,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="hireDate != null">
                #{hireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sale != null">
                #{sale,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.intpict.demo.entity.Emp">
        update ls_emp
        <set>
            <if test="departmentNo != null">
                department_no = #{departmentNo,jdbcType=CHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="hireDate != null">
                hire_date = #{hireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sale != null">
                sale = #{sale,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.intpict.demo.entity.Emp">
        UPDATE ls_emp
        SET department_no = #{departmentNo,jdbcType=CHAR},
            name          = #{name,jdbcType=VARCHAR},
            gender        = #{gender,jdbcType=VARCHAR},
            age           = #{age,jdbcType=INTEGER},
            hire_date     = #{hireDate,jdbcType=TIMESTAMP},
            sale          = #{sale,jdbcType=DECIMAL}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>